.menu {
    font-weight: 500;
    position: absolute;
    background-color: #289449;



}

.menu-link {

    text-decoration: none;
    margin: 20px;
    display: inline-block;


}

.menu-link:hover {
    color: white;
}

.menu-link-left {
    margin-left: 0px;
    margin-right: 20px;

}